# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Cache files:
__pycache__/

# Backup files:
*.bak

# Results:
results/

# Visual Studio:
bin
intermediate
.vs

# Settings:
*.ini

# wxWidgets:
**/wxWidgets/include
**/wxWidgets/lib

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
